.routes {
  padding-right: 20px;
  width: 250px;
  height: 100vh;
  border-right: 1px solid var(--main-color);
  list-style: none;
}

.route {
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid var(--main-color);
  cursor: pointer;
}

.route:not(:last-child) {
  margin-bottom: 10px;
}
